								
								<!--begin::List Widget 5-->
								<div class="card mb-5 shadow-none">
									<!--begin::Body-->
									<div class="card-body pt-2 px-0">
										<!--begin::Item-->
										<div class="d-flex mb-6">
											<!--begin::Icon-->
											<div class="me-1">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
												<span class="svg-icon svg-icon-sm svg-icon-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Icon-->
											<!--begin::Content-->
											<div class="d-flex flex-column">
												<a href="#" class="fs-6 fw-bolder text-hover-primary text-gray-800 mb-2">How to Create Your First Project with Start Admin Theme</a>
												<div class="fw-bold text-muted">But nothing can prepare you for the real thing</div>
											</div>
											<!--end::Content-->
										</div>
										<!--end::Item-->
										<!--begin::Item-->
										<div class="d-flex mb-6">
											<!--begin::Icon-->
											<div class="me-1">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
												<span class="svg-icon svg-icon-sm svg-icon-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Icon-->
											<!--begin::Content-->
											<div class="d-flex flex-column">
												<a href="#" class="fs-6 fw-bolder text-hover-primary text-gray-800 mb-2">Start Admin Theme Getting Started &amp; Installation</a>
												<div class="fw-bold text-muted">Long before you sit down to put digital pen</div>
											</div>
											<!--end::Content-->
										</div>
										<!--end::Item-->
										<!--begin::Item-->
										<div class="d-flex mb-6">
											<!--begin::Icon-->
											<div class="me-1">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
												<span class="svg-icon svg-icon-sm svg-icon-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Icon-->
											<!--begin::Content-->
											<div class="d-flex flex-column">
												<a href="#" class="fs-6 fw-bolder text-hover-primary text-gray-800 mb-2">Craft a headline that is both informative and will capture</a>
												<div class="fw-bold text-muted">But nothing can prepare you for the real thing</div>
											</div>
											<!--end::Content-->
										</div>
										<!--end::Item-->
										<!--begin::Item-->
										<div class="d-flex mb-6">
											<!--begin::Icon-->
											<div class="me-1">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
												<span class="svg-icon svg-icon-sm svg-icon-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Icon-->
											<!--begin::Content-->
											<div class="d-flex flex-column">
												<a href="#" class="fs-6 fw-bolder text-hover-primary text-gray-800 mb-2">Write your post, either writing a draft in a single</a>
												<div class="fw-bold text-muted">Long before you sit down to put pen</div>
											</div>
											<!--end::Content-->
										</div>
										<!--end::Item-->
										<!--begin::Item-->
										<div class="d-flex mb-6">
											<!--begin::Icon-->
											<div class="me-1">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
												<span class="svg-icon svg-icon-sm svg-icon-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
													</svg>
												</span>
												<!--end::Svg Icon-->
											</div>
											<!--end::Icon-->
											<!--begin::Content-->
											<div class="d-flex flex-column">
												<a href="#" class="fs-6 fw-bolder text-hover-primary text-gray-800 mb-2">Use images to enhance your post, improve its flow</a>
												<div class="fw-bold text-muted">Long before you sit down to put digital pen</div>
											</div>
											<!--end::Content-->
										</div>
										<!--end::Item-->
									</div>
									<!--end::Body-->
								</div>
								<!--end::List Widget 5-->
								