.timer-progress-bar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #98a29f;
}

.timer-progress-bar div.bar {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #20D489;
  box-sizing: border-box;
    color:white;
}
